<!DOCTYPE html>
<html>
<head>
    <title>My Blog!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    
<h1>Blog Posts</h1>
<ul>
    <% posts.forEach(post => { %>
        <li>
          <h3><%= post.title %></h3>
          <p><%= post.content.substring(0, 100) %></p>
        </li>
    <% }); %>
        
    
</ul>

<script>
    function showFullContent(index) {
        const postDiv = document.getElementById(`post${index}`);
        postDiv.style.display = 'block';
    }
</script>
</body>
</html>
